<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          
          <dt>Customer Ratings</dt>
          <% @ratings.each do |rating| %>
            <dd><li><%= rating.rating %> out of 5</li></dd>
            <% end %>
          <dt>Customer Reviews</dt>
          <% @ratings.each do |rating| %>
            <dd><li><%= rating.description %>
            <% if current_user.id == rating.user_id %>
             <%= link_to 'Delete Review', 
             product_rating_path(@product, rating), 
             method: :delete, data: { confirm: 'Are you sure?'} %> </li></dd>
            <% end %>
            <% end %>

            <%= form_for :rating, url: product_ratings_path(@product) do |f| %>
              <h3>Write a Review!</h3>
          
              <%= f.label :description %><br>
              <%= f.text_area :description %><br>
  
              <%= f.label :rating %><br>
              <%= f.select :rating, [0, 1, 2, 3, 4, 5] %><br>
          
              <%= f.submit("Submit Review") %><br>
            <% end %>
         
        </dl>
      </div>
       
    </div>

    

  </article>

</section>
